@model IEnumerable<Infraestructure.Models.PlanCobro>

@{
    ViewBag.Title = "Lista de Planes";
}

<div id="lista">
    <p>
        <a href="@Url.Action("Create", "PlanCobro")" class="btn btn-primary"><i class="fa-solid fa-plus"></i> Crear</a>
    </p>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.IdPlanCobro)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Descripcion)
            </th>

            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.IdPlanCobro)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Descripcion)
                </td>

                <td>
                    <a href="@Url.Action("Edit", "PlanCobro", new { id = item.IdPlanCobro })" class="btn btn-primary"><i class="fa-solid fa-pen"></i> Editar</a>
                    <a href="@Url.Action("Details", "PlanCobro", new { id = item.IdPlanCobro })" class="btn btn-info"><i class="fa-solid fa-circle-info"></i> Detalles</a>
                </td>
            </tr>
        }

    </table>
</div>